<div class="banner">
<p class="banner-title">Boats for everyone</p>
</div>

<div class="categories-container">
  <%= link_to party_boats_path do %>
    <div class="category-card party-card bg-image">
      Party Boats
    </div>
  <% end %>
  <%= link_to yachts_path do %>
    <div class="category-card yacht-card bg-image">
      Yachts
    </div>
   <% end %>
  <%= link_to fishing_boats_path do %>
    <div class="category-card fishing-card bg-image">
      Fishing Boats
    </div>
   <% end %>
</div>
